* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container {
    flex: 1;
    min-width: 100%;
    padding: 2%;
    background-color: white;
    border-radius: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 1%;
    width: 100%;
}


header a {
    color: white;
    text-decoration: none;
    margin: 1%;
}

header nav a:hover {
    text-decoration: underline;
}

nav {
    margin-top: 1%;
}

ul {
    list-style-type: none;
}

button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 1% 2%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #357ab8;
    transform: scale(1.1);
    transition: transform 0.5s;
}

#divTitulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#divTitulo img:hover {
    cursor: pointer;
}

#settingsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#configDiv {
    display: flex;
    justify-content: space-around;
    margin: 1.5%;
    width: 50%;
}

select {
    width: 50%;
    height: 30px;
    border-radius: 8px;
    background-color: #4a90e2;
    color: white;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    background-color: #4a90e2;
    color: white;
    font-size: 16px;
    resize: none;
    padding: 1%;
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

textarea::placeholder {
    color: white;
    opacity: 1;
}

.historia {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out, transform 0.5s;
}

.historia:hover {
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    cursor: pointer;
}

.avaliacoes {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #eee;
    text-align: center;
    font-size: 14px;
    align-items: center;
    padding: 1%;
    width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        font-size: 1.2em;
    }

    nav {
        flex-direction: column;
    }

    .container {
        padding: 5%;
    }

    button {
        width: 25%;
        padding: 1%;
    }

    select {
        width: 50%;
    }
    #configDiv {
        width: 100%;
        padding: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}