<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Skreva HistorIAs{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>ISkreva HistorIAs</h1>
        <nav>
            <a href="/">Início</a>
            <a href="/gerar_frase">Gerar Frase</a>
            <!-- Adicione mais links conforme necessário -->
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; Criado por Igor</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>