{% extends "base.html" %}

{% block title %}Início - Skreva StorIAs{% endblock %}

{% block content %}
<div id="divTitulo">
    <h2>Bem-vindo ao Skreva StorIAs!</h2>
    <p style="font-size: 20px;">Dificuldade: {{ dificuldade }}</p>
</div>
<br>
<p style="font-size: 18px;">
    Aqui, a inteligência artificial irá te dar uma <strong>frase curta e aleatória</strong> para inspirar sua
    criatividade. Depois disso, você irá escrever uma história com base nessa frase e nos 5 elementos da narrativa:<strong> enredo, narrador, personagens, tempo e espaço.</strong> Você tem tempo limitado para escrever, então seja rápido! E ao final, a IA irá avaliar sua história <strong>rigorosamente</strong>, com base em critérios como:
</p>
<br>

<ul style="font-size: 18px;">
    <li>- 📚 Coerência</li>
    <li>- 🧠 Criatividade</li>
    <li>- 📝 Qualidade gramatical e textual</li>
    <li>- 🎯 Moral ou mensagem</li>
    <li>- 🔗 Relação com a frase</li>
</ul>

<br>
<p style="font-size: 18px;">Clique no botão abaixo para começar sua jornada!</p>

<div style="text-align: center; margin-top: 15px;">
    <a href="{{ url_for('main.history') }}">
        <button class="botao-comecar">Começar Agora</button>
    </a>
</div>
{% endblock %}