{% extends 'base.html' %}

{% block title %}Configurações - Skreva HistorIAs{% endblock %}

{% block content %}

<div style="text-align: center;">
    <h1>Configurações</h1>
</div>
<br>

<form action="{{ url_for('main.salvarconfiguracoes') }}">
    <div id="settingsDiv">

        <div id="configDiv">
            <h2>Nível de Dificuldade:</h2>
            <select onchange="selecionarDificuldade()" name="dificuldade" id="dificuldade">
                <option value="Fácil" {{ 'selected' if dificuldade == 'Fácil' }}>Fácil</option>
                <option value="Médio" {{ 'selected' if dificuldade == 'Médio' }}>Médio</option>
                <option value="Difícil" {{ 'selected' if dificuldade == 'Difícil' }}>Difícil</option>
                <option value="Personalizada" {{ 'selected' if dificuldade == 'Personalizada' }}>Personalizada</option>
            </select>
        </div>

        <div id="configDiv">
            <h2>Tempo para escrita:</h2>
            <select name="tempo" id="tempo" {{ 'disabled' if dificuldade != 'Personalizada' }}>
                <option value="120" {{ 'selected' if dificuldade == 'Difícil' }}>2 minutos</option>
                <option value="180" {{ 'selected' if dificuldade == 'Médio' }}>3 minutos</option>
                <option value="300" {{ 'selected' if dificuldade == 'Fácil' }}>5 minutos</option>
            </select>
        </div>

        <div id="configDiv">
            <h2>Limite de caracteres:</h2>
            <select name="caracteres" id="caracteres" {{ 'disabled' if dificuldade != 'Personalizada' }}>
                <option value="500" {{ 'selected' if dificuldade == 'Difícil' }}>500 caracteres</option>
                <option value="1000" {{ 'selected' if dificuldade == 'Médio' }}>1000 caracteres</option>
                <option value="2000" {{ 'selected' if dificuldade == 'Fácil' }}>2000 caracteres</option>
            </select>
        </div>

        <br>
        <div style="text-align: center;">
            <button type="submit">Salvar</button>
        </div>

    </div>
</form>

</div>

{% endblock %}