{% extends "base.html" %}

{% block title %}Histórias - Skreva StorIAs{% endblock %}

{% block content %}
<div style="display: flex; width: 100%; justify-content: space-around; align-items: center;">
    <h1>📚 Histórias Criadas</h1>
    <p>Clique para vê-las individualmente!</p>
</div>
<br>
{% for historia in historias %}
<a href="/historia/{{ historia.id }}" style="color: inherit;">
    <div class="historia">
        <div id="divTitulo">
            <h4>Frase: {{ historia.frase }}</h4>
            <form action="/deletar_historia/{{ historia.id }}" method="POST" style="display:inline;">
                <button type="submit" style="background:none; border:none; padding:0; cursor:pointer;">
                </button>
            </form>

        </div>
        <br>
        <p>{{ historia.historia }}</p>
        <p class="avaliacoes">
            Diversão: {{ historia.diversao }} |
            Coerência: {{ historia.coerencia }} |
            Qualidade gramatical: {{ historia.gramatica }} |
            Moral: {{ historia.moral }} |
            Relação com a frase: {{ historia.relacaofrase }} |
            <strong>Média: {{ historia.media }}</strong>
        </p>
        <br>
        <p>Data da história: {{ historia.data_criacao.strftime('%d/%m/%Y %H:%M') }}</p>
    </div>
</a>
{% else %}
<p>Nenhuma história criada ainda. Comece criando uma!</p>
{% endfor %}

{% endblock %}